@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    color: var(--cor-branca);
    font-weight: 300;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: linear-gradient(150deg, #00091e, lightskyblue);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.redes-sociais li {
    width: 45px;
    height: 45px;
    font-size: var(--fonte-media);
    margin-inline: 7px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.redes-sociais li:hover a {
    transform: scale(1.1);
}
.redes-sociais li.linkedin:hover a {
    color: hsl(201, 81%, 52%);
}
.redes-sociais li.wpp:hover a {
    color: hsl(131, 80%, 59%);
}
.redes-sociais li.github:hover a {
    color: hsl(43, 100%, 50%);
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
    padding-block: 7rem;
}

.section-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding-block: 60px;
}

.section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}

.botao {
    font-family: var(--fonte-primaria);
    cursor: pointer;
    font-size: var(--fonte-grande);
    font-weight: 600;
    padding: 8.75px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--cor-primaria);
}

.botao:hover {
    background-color: var(--cor-secundaria);
}